BINANCE_API_KEY=replace_me
BINANCE_API_SECRET=replace_me
LIVE_TRADING=false
USE_TESTNET=false
LEVERAGE=1
ORDER_NOTIONAL_USDT=50
PAIR_HISTORY_LIMITS=MANTAUSDT.P=5000,AAVEUSDT.P=7000
ENABLE_ADVANCED_TP=true
FIRST_TP_PERCENT=5
FIRST_TP_QUANTITY=100
SECOND_TP_PERCENT=99
ENABLE_BREAKEVEN_AFTER_FIRST_TP=true
